body, html {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    overflow-x :hidden;
    padding-bottom: 50px;
}

.navbar {
    background: rgb(241, 241, 241);
}

.footer {
    position: fixed;
    bottom: 0px;
    padding: 20px;
    background: #ffc107;
    width: 100%;
    color: black;
}

.logo {
    color: #dfa300;
    font-weight: bold;
    width: 100%;
}

.fa-star {
    color: #dfa300;
}

.fa-star-half {
    color: #dfa300;
}

.results-container {
    overflow-y: scroll;
    max-height: 90vh;
}
